<!DOCTYPE html>
<html>
<head>
	<title>Polls</title>
</head>
<body>

<h1>Make a Poll</h1>

<form action="/polls" method="post">
	{% csrf_token %}
	Question: <textarea name="question" placeholder="Your question..."></textarea><br>
	Option1: <input type="text" name="option1" placeholder="option1"><br>
	Option2: <input type="text" name="option2" placeholder="option2"><br>
	Option3: <input type="text" name="option3" placeholder="option3"><br>
	<input type="submit" value="Make a Poll">
</form>

</body>
</html>