<!DOCTYPE html>
<html>
<head>
	<title>Polls</title>
</head>
<body>

{{ poll }}


<h3> {{ poll.question }} </h3>

{% if not voted %}

<form action="/vote/{{ poll.id }}" method="post">
	{% csrf_token %}
	<input type="radio" name="selection" value="1"> {{ poll.option1 }}<br>
	<input type="radio" name="selection" value="2"> {{ poll.option2 }}<br>
	<input type="radio" name="selection" value="3"> {{ poll.option3 }}<br>
	<input type="submit" value="Vote">
</form>

{% else %}

<p>you already voted</p>

{{ poll.votes.all.0.selection }}

{{ results }}

{% endif %}

</body>
</html>